.data-table thead {
  color: black;
  background: black;
}

.data-table td {
  color: solid 2px;
  padding: 0.2rem;
}

.data-table th {

}

.data-table {
  border-spacing: 0px;
}

.center-div {

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tabs {
  float:left;
  display: block;

}