body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#table-header tr{
  background: #1f0033;
  color: white;
  

}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}


.data-table td, #table-header th{
  padding: 13px 15px 13px 15px;
}

.tabs {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.tab-list {
  display: flex;
}

.tab-header-div  {
  flex: 1;
}

.tab-header-div li {
  list-style: none;
  padding: 15px;
  border-radius: 20%;
  border: 2px solid #1f0033;
  font-size: 1.5rem;
  transition: transform .3s;
}

.tab-header-div li:hover {
  transform: scale(1.1);
  cursor: default;
}




.data-table tr:nth-child(1n) {
  background-color: white;
}

.data-table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

.data-table {
  border-spacing: 0px;

}



.center-div {

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.tabs {
  float:left;
  display: block;

}